<!DOCTYPE html>
<html ng-app>
	<head>
		 <link rel="icon" href="favicon.ico" type="image/x-icon">
		<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
		<title>Random Pokemon! </title>
		<link href="index.css" type = "text/css" rel = "stylesheet">

		<script type="text/javascript" src="./angular.min.js"></script>
		<script type="text/javascript" src = "./sasstore.min.js"></script>

		<script>

			function pokemans($scope) {
				$scope.localStoreVersion = '2';
				$scope.text = "Wow. A Pokemon appeared! Wow.";
				$scope.store = new SASStore({id: "pokemonStore", length: 649, itemSize: 1});


				$scope.range = function(n) {
					return new Array(n);
				};

				$scope.getPokemonString = function(n) {
					var num;
					if (n < 10) {
						num = '00' + String(n);
					} else if (n < 100) {
						num = '0' + String(n);
					} else if (n < 1000) {
						num = String(n);
					}
					return num;
				}

			

				$scope.getPokemon = function(num) {
					var num2 = num-1;
					$scope.store.setItem(num2, "1");
					return num;
				};

				$scope.getProgress = function() {
					var count = $scope.store.countOccurrencesOf("0");
					return "you've got " +count + "/649 pokemans left to catch";
				};

				$scope.isShiny = function(){
					var num = Math.floor(Math.random()*8193);
					var str = "";
					if (num == 5){
						return true;
					}
					else{
						return false
					}
				};

				$scope.isWinner = function() {
					if ($scope.store.countOccurrencesOf("0") == 0) {
						return true;
					} else {
						return false;
					}
				}

				$scope.reset = function(){
					$scope.store.reset();
					$scope.winner = $scope.isWinner();
				}

				$scope.findPokemon = function(num, p, $index) {
					if (!$scope.found && num == p) {
						$scope.found = $index;
						return true;
					} else if ($scope.found && num == p && $scope.found == $index) {
						return true;
					} else {
						return false;
					}
				}

				$scope.queue = [];
				for (var i = 0; i < 50; i++) {
					$scope.queue.push(Math.floor(Math.random() * 649) + 1);
				}

				$scope.update = function() {
					$scope.found = null;
					$scope.pokemontype = "i"
					$scope.queue.shift();
					$scope.num = $scope.getPokemon($scope.queue[0]);
					$scope.queue.push(Math.floor(Math.random() * 649) + 1);
					$scope.shiny = $scope.isShiny();
					$scope.winner = $scope.isWinner();
					if ($scope.shiny) {
						$scope.pokemontype = "s";
					}
				};

				$scope.update();
			}
		</script>

	</head>
	
	<body>

		<div ng-controller="pokemans" align=center>

			<div>{{text}}</div>
			<div>{{getProgress()}}</div>
			<div>
				<img ng-repeat="p in queue" ng-show="findPokemon(num, p, $index)" ng-src="http://sprites.pokecheck.org/{{pokemontype}}/{{getPokemonString(p)}}.gif" height="150px"></img>
			</div>
			<div ng-show="shiny">look is a shiny</div>
			<div ng-show="winner">a winner is u</div>
			<button ng-click="update()">new</button>
			<button ng-click="reset()" >reset if u want</button>
		</div>
</body>
</html>
